[submodule "third_party/pcc"]
	path = third_party/pcc
	url = https://github.com/modong/pcc.git
	ignore = dirty
[submodule "third_party/pantheon-tunnel"]
	path = third_party/pantheon-tunnel
	url = https://github.com/StanfordSNR/pantheon-tunnel.git
	ignore = dirty
[submodule "third_party/genericCC"]
	path = third_party/genericCC
	url = https://github.com/venkatarun95/genericCC
	ignore = dirty
[submodule "third_party/vivace"]
	path = third_party/vivace
	url = https://github.com/StanfordSNR/vivace.git
	ignore = dirty
